body {
  background-image: url('../../img/GracefulMiniatureBustard-small.gif');
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-style: italic;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.game-item {
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  background-image: url('../../img/fire.png');
  background-size: 100px 100px;
  background-color: rgb(246, 121, 4);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.goblin {
  width: 100px;
  height: 100px;
  display: none;
}

.goblin.active {
  display: block;
}
